/* Portfolio Style  */
 
  
  /* body { 
  } */
  
  header {
     padding: 20px; 
    margin-bottom: 20px;
  }
  
#PageTitle {
      position: relative;
      left: 5%;
      background: #4aaaa5;
      float: left;
      font-family: 'Georgia, Times, Times New Roman, serif;';
      padding: 14px 16px ;
      text-align: center;
      color: white;
     
  }
  
#AboutMe {
    color: #4aaaa5;
    float: left;
    font-size: 32px;
    padding: 100px;
    font-family: 'Georgia, Times, Times New Roman, serif;';
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: gray;
}

li {
  float: right;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
  #tabs {
    height: 50px;
    width: 60px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
  }

  #para1 {
        padding: 20px;
        margin-bottom: 20px;
        float: right;     
  }

  #para2 {
    padding: 20px;
    margin-bottom: 20px;
    float: right;
  }

  img {
    position: absolute; 
    left: 20%;
    top: 10%;
    height: 250px;
    width: 250px;
    float: left;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 46px;
  }
  
  footer {padding: 20px;
    clear: both;
    border-top-color: #4aaaa5;
    border-top-width:20px;
    color: white;
    background: #666666;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  